<%= simple_form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% @car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :company, input_html: { class: 'form-control' } %>
      </div>

      <div class="col-md-6">
        <%= f.input :name, input_html: { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :model, input_html: { class: 'form-control' } %>
      </div>

      <div class="col-md-6">
        <%= f.input :year, input_html: { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.input :color, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: 'btn btn-success' %>
    <%= link_to "Voltar", cars_path, class: "btn btn-link" %>
  </div>
<% end %>
